---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.jsx";
import NavButtons from "../components/NavButtons.astro";
import React from "react";

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
const user = session?.user;
---

<Layout title="3 de febrero 1101">
  <main>
    <React.StrictMode>
      <Calendar {user} client:only="react" />
    </React.StrictMode>
  </main>
  <style></style>
</Layout>
