---
interface Props {
	date: string;
	shift: string;
	flat: string;
}

const { date, shift, flat } = Astro.props;
---

<div class="booking w-10/12 mx-auto rounded-md py-3 px-10 bg-white flex flex-col ">
	<div class="flex flex-row justify-between items-center">
		<h2 class="text-3xl">
			{date}
		</h2>
		<span class="text-green-800">{shift}</span>
	</div>
		<p class="text-gray-500">
			{flat}
		</p>
</div>
<style>

</style>
