---
import Booking from "./Booking.astro";
---

<div class="mb-10 mx-auto">
  <div class="flex flex-col gap-5 justify-between">
    <Booking shift="DIA" flat="07/04" date="Jueves 08" />
    <Booking shift="NOCHE" flat="07/04" date="Jueves 08" />
  </div>
</div>
