---
import UserBox from "./UserBox.jsx";
const path = Astro.url.pathname;
const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
const user = session?.user;
---

<div class="flex flex-col">
  <UserBox user={user} client:only="react" />
  <div
    class="mb-2 self-center nav-buttons flex flex-row items-center justify-center"
  >
    <div
      class="bg-white w-56 flex flex-row justify-center rounded-full border-2 text-center"
    >
      <a
        href="/"
        class:list={[
          "py-1 px-2 text-2xl rounded-full text-green-800  ",
          { "border-2": path === "/" },
        ]}
      >
        Calendar
      </a>
      <a
        href="/booking"
        class:list={[
          "py-1 px-2 w-28 text-2xl rounded-full text-green-800 size  ",
          { "border-2": path === "/booking" },
        ]}
      >
        Booking
      </a>
    </div>
  </div>
</div>

<script></script>
