<div class="mt-4 mb-10 nav-buttons flex flex-row items-center justify-center">
			<div class="bg-white w-64 flex flex-row justify-center  rounded-full border-2">
				<a href="/" class="py-2 px-3 w-1/2 text-2xl border-2 rounded-full text-green-800">
					Calendar
				</a>
				<a href="/booking" class="px-3 py-2 w-1/2 text-2xl text-green-800">
					Booking
				</a>
			</div>
</div>