---
import NavButtons from "../components/NavButtons.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="lemonade">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --background: #405957;
      }

      @media screen and (prefers-color-scheme: dark) {
        [data-theme="lemonade"] {
          font-family: system-ui, sans-serif;
          background-color: var(--background);
          margin: 0px;
          padding: 0px;
        }
        .bg-yellow-1 {
          background: #dec978;
        }
        .bg-pink-1 {
          background: #f2c6a0;
        }
        .text-pink-1 {
          color: #f2c6a0;
        }
        .bg-secondary {
          background: #d0d9d7;
        }
        .text-secondary {
          color: #d0d9d7;
        }
        .text-primary {
          color: var(--background);
        }
        .bg-primary {
          background-color: var(--background);
        }
      }

      [data-theme="lemonade"] {
        font-family: system-ui, sans-serif;
        background-color: var(--background);
        margin: 0px;
        padding: 0px;
      }
      .bg-yellow-1 {
        background: #dec978;
      }
      .bg-pink-1 {
        background: #f2c6a0;
      }
      .text-pink-1 {
        color: #f2c6a0;
      }
      .bg-secondary {
        background: #d0d9d7;
      }
      .text-secondary {
        color: #d0d9d7;
      }
      .text-primary {
        color: var(--background);
      }
      .bg-primary {
        background-color: var(--background);
      }
    </style>
  </body>
</html>
